
__pycache__
**/*.pdf
**/*.toc
**/*.bbl
**/*.blg
**/*.out
**/*.aux
**/*.log
**/*.gz
**/*.pyc
**/*.fls
**/*.fdb_latexmk

.ipynb_checkpoints
data/
*.zip
*.csv
*.h5
*.npy
*.npz
*.mat
*.pt
*.pth
*.pkl
*.wfdb